.list {
    width: 100%;

    &__content {
        margin-bottom: var(--space-xs);
    }

    &__navigation {
        &_button {
            display: block;
            text-align: center;

            @media screen and (max-width: $screen-s) {
                width: 100%;
            }
        }
    }
}